<div class="col-md-6 col-md-offset-3">
    <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
    <div ng-show="vm.isBusy" class="text-center">loading...</div>
    <table class="table table-responsive table-striped">
        <tr ng-repeat="terms in vm.term">
            <td>{{terms.term}}</td>
            <td><a href="#" class="btn btn-sm btn-primary">Manage</a></td>
        </tr>
    </table>
    <form novalidate name="newVocabForm" ng-submit="vm.addVocab()">
        <div class="form-group">
            <label for="term">Term</label>
            <input class="form-control" type="text" id="term"
                   name="term" ng-model="vm.newVocab.term" required ng-minlength="3" />
            <span ng-show="newVocabForm.term.$error.required" class="text-warning">Type in a term</span>
            <span ng-show="newVocabForm.term.$error.minlength" class="text-warning">Term must be at least 3 characters</span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add"
                   class="btn btn-success btn-sm"
                   ng-disabled="newVocabForm.$invalid" />
        </div>

    </form>
</div>

