@model IEnumerable<Thesaurus.Models.Vocabulary>

@{
    //ViewData["Title"] = "Home Page";

    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h1>Thesaurus</h1>
        <form>
            <div class="form-group">
                <label>Term</label>
                <input class="form-control"/>
            </div>
            <div> <input type="submit" value="Add" class="btn btn-success"/></div>
        </form>



    </div>


    <div class="col-md-6">
        <h1>Picture</h1>
        <ul>
            @foreach (var Vocabulary in Model)
            {
                <li>@Vocabulary.term</li>
            }

        </ul>

    </div>

















</div>