@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>


<p>This application was inspired by Dr. Sharroky Hollie.</p>
<a href="http://culturallyresponsive.org/images/documents/CCRTL_VocabularyWorkshop_SUPPWinter2014.pdf">
    Click here for more information.
</a>
