@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    Applesause Interactive<br />
    St. Cloud, MN<br />
    <abbr title="Phone">P:</abbr>
    320-223-1060
</address>

<address>
    <strong>Our Website:</strong> <a href="http://www.ApplesauseInteractive.com">Applesause Interactive</a><br />
    
</address>
